#ifndef __CREDENTIALS_H__
#define __CREDENTIALS_H__


// Wifi parameters
char passphrase[] = "mypassphrase";

char ssid[] = "LSRC";
boolean mode = WPA_MODE; //or WEP_MODE

//thingspeak
const char *writeAPIKey = "KEY";
//IOT assistant
const char *url = "/printer/mykey";

#endif
